.breadcrumb {
	margin-top:20px;
	width:100%;
	border-radius:0;
}
.title {
	margin-top:50px;
	margin-bottom:20px;
}

.homepage-wrapper {
	background:url("../img/documente-pacienti.jpg");
	height:400px;
	    background-position: 100% 100%;
	    position:relative;
	    background-attachment: fixed;
}

.homepage-wrapper:before {
    position: absolute;
    background: linear-gradient(to right, #090531, #ffffff);
    opacity: .5;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.fa-chevron-right {
	position:relative;
}
.cta .btn.btn-danger {
	    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
	    color:white;
}

.cta .btn.btn-danger:hover {
	color:white;
}





h1 {
	margin-bottom: 80px;
	position:relative;
}

h1:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    content: '';
    border-bottom: 4px solid blue;
    margin: 0 auto;
    width: 90%;
}

@media all and (max-width:1200px) {
	.tab-content {
		margin-top:30px;
	}
}
@media all and (max-width:991px) {
	.homepage-wrapper {
		background-position: 50% 60%;
	}
}

@media all and (max-width:600px) {
	.homepage-wrapper {
		background-position: 76% 120%;
    height: 300px;
	}



	 h1 {
		font-size:28px;
		margin-bottom:20px;
	}

	h3 {
		font-size:20px;
	}


	.breadcrumb-item {
		font-size:14px;
	}

	.tab-content {
		margin-top:22px;
	}

	footer {
		    margin-top: 50px;
	}


}


@media all and (max-width:480px) {
	 h1 {
		font-size:26px;
		margin-bottom:20px;
	}

	h3 {
		font-size:18px;
	}

	.breadcrumb-item {
		font-size:12px;
	}

	.tab-content {
		margin-top:20px;
	}
}

